* {
    margin: 0;
    padding: 0;
}

html {
    font-size: calc(60% + 0.8vmin);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#Container {
    
    display: flex;
    flex-direction: row;
    max-width: 910px;
    max-height: 480px;
}

.Content-seadans, .Content-suvs, .Content-luxury {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 260px;
}

.Content-seadans {  
    background-color: hsl(31, 77%, 52%);
    /* border-radius: 10px 0px 0px 10px ; */
}

.Content-suvs {
    background-color: hsl(184, 100%, 22%);
}

.Content-luxury {
    background-color: hsl(179, 100%, 13%);
    /* border-radius: 0px 10px 10px 0px ; */
}

.Content-seadans img, .Content-suvs img, .Content-luxury img {
    max-width: 30%;
    
}

.Content-seadans h1, .Content-suvs h1, .Content-luxury h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

.Content-seadans img, .Content-seadans h1, .Content-seadans p
, .Content-suvs img, .Content-suvs h1, .Content-suvs p
, .Content-luxury img, .Content-luxury h1, .Content-luxury p {
    padding: 20px;
}


.Content-seadans p, .Content-suvs p, .Content-luxury p {
    font-family: 'Lexend Deca', sans-serif; 
    font-size: 0.938rem;
    color: hsla(0, 0%, 100%, 0.65);
}

.Content-seadans a, .Content-suvs a, .Content-luxury a {
    /* margin: 80px 0 30px 20px; */
    max-width: 110px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.938rem;
    border-radius: 20px;

}

.Content-seadans a {
    color: hsl(31, 77%, 52%);
}

.Content-seadans a:hover {
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
}

.Content-suvs a {
    color: hsl(184, 100%, 22%);
}

.Content-suvs a:hover {
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
}

.Content-luxury a {
    color: hsl(179, 100%, 13%);   
}

.Content-luxury a:hover {
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
}

@media screen and (max-width: 900px){

    body {
        min-height: 70vh;
        
    }

    #Container {
        flex-direction: column;
    }
    .Content-seadans, .Content-suvs, .Content-luxury  {
        max-width: 200px;
        max-height: 350px;

    }

    .Content-seadans {  
        border-radius: 10px 10px 0px 0px ; 
   }

   .Content-luxury {
        border-radius: 0px 0px 10px 10px ;
   }

}

@media screen and (min-width: 901px) and (max-width: 3000px) {
    .Content-seadans a, .Content-suvs a, .Content-luxury a {
         margin: 60px 0 30px 20px; 
    }

    .Content-seadans {  
         border-radius: 10px 0px 0px 10px ; 
    }

    .Content-luxury {
         border-radius: 0px 10px 10px 0px ;
    }


}
